:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-color: #ff6b6b;
  --gradient-start: #ffaf40;
  --gradient-end: #ff6363;
  --input-border-color: #e0e0e0;
  --hover-color: #ffa36c;
  --background-color: #f9f9f9;
  --text-color: #353535;
  --error-color: #f76c6c;
  --font-size: 1rem;
  --border-radius: 0.25rem;
  --padding: 0.75rem 1.25rem;
  --form-max-width: 37.5rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
}

body {
  font-family: var(--primary-font);
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  font-size: 16px;
  color: var(--text-color);
}

.button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: var(--spacing-large) var(--spacing-medium);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-size);
  margin: var(--spacing-small);
  cursor: pointer;
  border-radius: var(--border-radius);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-medium);
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  padding: var(--spacing-medium);
  max-width: var(--form-max-width);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.google-title {
  color: black;
  font-weight: 700;
  font-size: 2rem;
}

span {
  color: var(--error-color);
  display: block;
  margin-top: var(--spacing-medium);
}

input[type=email],
input[type=text],
select,
input[type=submit] {
  width: 100%;
  padding: var(--padding);
  margin: var(--spacing-small) 0;
  display: block;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--hover-color);
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.event-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.event-header {
  background-color: #6c63ff;
  /* Vibrant header color */
  color: white;
  padding: 10px 15px;
}

.event-header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.event-body {
  padding: 15px;
}

.event-date,
.event-organizer {
  margin-bottom: 10px;
}

.event-link {
  display: inline-block;
  margin-top: 10px;
  color: #6c63ff;
  text-decoration: none;
}